In [6]:
# Extract Email Domain
import pandas as pd

df = pd.DataFrame({'email': ['alice@gmail.com', 'bob@yahoo.com', 'carol@outlook.com']})
print(df)
df['domain'] = df['email'].str.split('@').str[1]
print(df)

                        email
0  alice@gmail.com@gmail2.com
1               bob@yahoo.com
2           carol@outlook.com
                        email      domain
0  alice@gmail.com@gmail2.com  gmail2.com
1               bob@yahoo.com         NaN
2           carol@outlook.com         NaN

In [2]:
# Clean and Format Product Names
df = pd.DataFrame({'product_name': [' Sony-TV 42\" ', 'samsung-LED#55', 'LG!OLED(65)']})
df['clean_name'] = df['product_name'].str.replace(r'[^a-zA-Z0-9 ]', '', regex=True).str.strip().str.title()
print(df)

     product_name    clean_name
0    Sony-TV 42"      Sonytv 42
1  samsung-LED#55  Samsungled55
2     LG!OLED(65)      Lgoled65

In [8]:
import re

s = "Data!@Engg#Rocks123"
res = re.sub(r'[^a-zA-Z0-9]', '', s)
print(res)

DataEnggRocks123

In [3]:
# Generate Usernames
df = pd.DataFrame({'name': ['John Doe', 'Alice Smith', 'Robert Jr.']})
df['username'] = df['name'].str.lower().str.replace(' ', '_')
print(df)

          name     username
0     John Doe     john_doe
1  Alice Smith  alice_smith
2   Robert Jr.   robert_jr.

### ðŸ“… 4. Date Manipulation Examples

In [4]:
# Classify Time of Day
df = pd.DataFrame({'timestamp': pd.to_datetime(['2025-06-06 08:00', '2025-06-06 15:00', '2025-06-06 22:00'])})
df['hour'] = df['timestamp'].dt.hour

df['time_of_day'] = pd.cut(df['hour'],
    bins=[0, 6, 12, 18, 24],
    labels=['Night', 'Morning', 'Afternoon', 'Evening'],
    right=False
)

print(df)

            timestamp  hour time_of_day
0 2025-06-06 08:00:00     8     Morning
1 2025-06-06 15:00:00    15   Afternoon
2 2025-06-06 22:00:00    22     Evening

In [5]:
# Is Weekend?
df = pd.DataFrame({'order_date': pd.to_datetime(['2025-06-01', '2025-06-03', '2025-06-08'])})
df['is_weekend'] = df['order_date'].dt.weekday >= 5
print(df)

  order_date  is_weekend
0 2025-06-01        True
1 2025-06-03       False
2 2025-06-08        True

In [6]:
# Days Until Next Birthday
from datetime import datetime
today = pd.to_datetime('today')
df = pd.DataFrame({'birthdate': pd.to_datetime(['1990-06-08', '1995-11-20', '2000-03-15'])})

df['next_birthday'] = df['birthdate'].apply(
    lambda d: pd.Timestamp(year=today.year, month=d.month, day=d.day)
)
df['next_birthday'] = df['next_birthday'].apply(
    lambda d: d if d > today else pd.Timestamp(year=today.year + 1, month=d.month, day=d.day)
)
df['days_until_birthday'] = (df['next_birthday'] - today).dt.days

print(df)

   birthdate next_birthday  days_until_birthday
0 1990-06-08    2026-06-08                  364
1 1995-11-20    2025-11-20                  164
2 2000-03-15    2026-03-15                  279